@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Poppins;
}
* {
  margin: 0;
  padding: 0;
}
header p {
  size: 36px;
  padding: 0px 2em;
}
header {
  background-color: #e2f3f5;
  height: 81px;
  display: flex;
  align-items: center;
  color: #3d5af1;
}
.blue-container {
  position: absolute;
  bottom: 0;
  height: 106px;
  width: 100%;
  background-color: #22d1ee;
  display: flex;
  align-items: center;
}

.text-area p {
  opacity: 40%;
  padding: 0px 30px;
  font-size: 158x;
}
.text-area {
  background-color: #e2f3f5;
  width: 100%;
  height: 51.7px;
  margin: 0px 1em;
  display: flex;
  align-items: center;
  cursor: text;
}
.input-text {
  width: 100%;
}
.type-here {
  position: absolute;
  left: 2rem;
}
input {
  border: none;
  font-size: 20px;
}
.button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border-radius: 100%;
  background-color: #3d5af1;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 2rem;
  top: 2.7em;
  cursor: pointer;
}
.send-container {
  position: relative;
  width: 100%;
}
.other-container {
  background-color: grey;
}
